:root {
  --primary: #111827;
  --secondary: #374151;
  --tertiary: #4b5563;

  --action-primary: #4f46e5;
  --action-primary-hover: #4338ca;
  --action-primary-active: #3730a3;
  --action-primary-loading: #4f46e5;
  --action-primary-disabled: #4f46e5;

  --action-secondary: #f3f4f6;
  --action-secondary-hover: #e5e7eb;
  --action-secondary-active: #d1d5db;
  --action-secondary-loading: #f3f4f6;
  --action-secondary-disabled: #f3f4f6;

  --action-destructive: #e11d48;
  --action-destructive-hover: #be123c;
  --action-destructive-active: #9f1239;
  --action-destructive-loading: #e11d48;
  --action-destructive-disabled: #e11d48;

  --success: #047857;
  --warning: #b45309;
  --error: #be123c;

  --text-weight: 400;
  --text-size: 1rem;
  --text-line-height: 1.5rem;
  --text-letter-spacing: 0;

  --background: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-inter), sans-serif;
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
}
